# Ignore all .csproj files
*.csproj

# Ignore the context folder
context/

# Standard Visual Studio/C# .gitignore options
# Build results
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.app
*.log
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.pdb
*.mdb
*.dbmdl
*.bak
*.swp
*.tmp
*.vspscc
*.vssscc
*.vspx
*.vsix
*.psess
*.vsp
*.pidb
*.svclog
*.scc
*.ncb
*.sdf
*.opensdf
*.suo
*.sln
*.v12.suo
*.ntvs_analysis.dat
*.orig
*.sln.ide

# Visual Studio Code
.vscode/

# NuGet Packages
*.nupkg
packages/
# The packages folder can be ignored because of Package Restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code settings
.history/
.idea/

# Others
.DS_Store
.vs/
.env
.coverage
.pytest_cache/
.mypy_cache/
.tox/
.vscode/
.venv/
.virtualenv/
__pycache__/
